@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Leave Your Comfort To Us</h1>
</div>






<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Aqua Park</h5>
        <p class="card-text">Describtion </p>
        <p class="card-text">avilable </p>
        <a href="/Customer/Home/Details" class="btn btn-primary">Details</a>
        <a href="/Customer/Home/Booking" class="btn btn-primary">Book Now</a>

    </div>
</div>

